*, ::after, ::before {
  box-sizing: border-box;
}

body{
    margin: 0 auto;
    padding: 0;
    width: 600px;
    font-family: 'Smythe', cursive;
    user-select: none;

}

header{
    background-image: url(./Images/ferks-guare-KEZdWfYD-ow-unsplash\ 1.png);
    background-size: cover;
    width: 600px;
    height: 167px;
    
}

/* --- Menu Items --- */

h1{
  margin: 0 0 .7em 0;
  font-size: 2.4rem;
}

h2{
  font-size: 1.375rem;
}


h1,
h2{
  font-weight: 400;
  line-height: .7;
  font-style: normal;
}

.hero_branding{
  color: #fff;
  padding: 2.8em 0 0 2.8em;
}

.item{
  max-width: 500px;
  margin: 0 auto;
  padding-top: 5em;
  
}

.menu{
  margin-bottom: 3.1em;
  justify-content: space-between;
  border-bottom: 1px solid #D2D2D2;
  padding-bottom: 3.1em;
}

.menu_item_name{
  margin: 0;
  font-style: normal;
  font-weight: 400;
  line-height: 1.1;
  color: #000000;
}

.food_image{
  width: 70px;
  height: 90px;
}

h3{
   color: #000000;
}

.menu_item_name,
h3{
  font-size: 1.75rem;
}

.menu_item_description{
  font-size: 1rem;
  color: #8b8b8b;
  margin: 1.6em 0 0 0;
  font-style: normal;
  font-weight: 400;
  line-height: .5;

}

.menu_item_price{
  font-size: 1.25rem;
  color: #000000;
  margin-top: 2em;
}

.add_to_cart_btn{
  border: 1px solid #dedede;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 2rem;
  line-height: 1.5;
  font-weight: 200;
  font-family: 'Inter', sans-serif;
  background: #fff;
}
.add_to_cart_btn:hover{
    color: #38bdf8;
    background-color: #f0f9ff;
}


.menu_flex_div{
  gap: 30px;
}

.menu_flex_div,
.menu,
.order_total,
.payment_form_details,
.order_summary{
  display: flex;
}

/* --- Order Items --- */

.order{
  max-width: 600px;
  margin-bottom: 2.5em;
}

.order_section{
  margin: 2.5em 0 .5em 0;
  text-align: center;

}

.order_summary{
  margin: 0 0 0 2.5em;
}

.remove_order_btn{
  margin-top: 0.3em;
  margin-right: auto;
  font-size: 0.75rem;
  background: #fff;
  border: none;
  color: #bbbbbb;
}

.order_total{
  margin: 0 0 0 2.5em;
  justify-content: space-between;
  border-top: 2px solid #393333;
}


.complete_order{
  margin: 2.5em 0 0 2.5em;
  padding: 1.1em 12.5em;
  font-family: Verdana;
  background: #16DB99;
  color: #fff;
  border: none;
  border-radius: 3px;
  font-weight: 700;
}

.hidden{
  display: none;
}

/* payment form */

.payment_form{
  width: 340px;
  height: 420px;
  background:#fff;
  padding: 1.25em;
  border-radius: 4px;
  margin: auto;
  position: fixed;
  inset: 0;
  filter: drop-shadow(5.18654px 5.18654px 255.437px rgba(0, 0, 0, 0.5));
  display: none;
}

.payment_form_heading{
  font-family: Verdana;
  font-size: 1.5rem;
  margin: 1em 0 1.2em  0;
  text-align: center;
}

.payment_form_details{
  flex-direction: column;
}

input{
  padding: 1.1em;
  margin: .6em auto;
  border: 1px solid #757575;

}

.payment_btn{
  margin:1em auto .6em auto;
  padding: 1.1em 8.125em;
  font-family: Verdana;
  background: #16DB99;
  color: #fff;
  border: none;
  border-radius: 3px;
  font-weight: 700;
}

.payment_btn,
input,
.complete_order{
  font-size: 1rem;
}

.order_confirmation{
  max-width: 540px;
  background: #ecfdf5;
  color: #065f46;
  text-align: center;
  font-size: 2rem;
  border: none;
  border-radius: 3px;
  margin-left: 1.5em;
  padding: .6em 0;
  display: none;
}
